extends layout
 
block content
  h1 Events
  div.container
    div.row
      div.col-md-4
        form.form-horizontal(action="/events/search", method="post")
          div.form-group
            label Keyword
            input.form-control(type="text",  name="keyword", placeholder="software, music, ...", value="hackathon")
          div.form-group
            label Location
            input.form-control(type="text",  name="location", placeholder="san francisco, ...", value="san francisco")
          div.form-group
            label Search radius
            input.form-control(type="text",  name="radius", placeholder="10mi, ...", value="10mi")
          div.form-group
            button.btn.btn-large.btn-success(type="submit") Find Events
      div.col-md-8
        table
          each event in events
            tbody.event-row
              tr
                td(rowspan='4', valign='top')= event.start_time
                td= event.group_name
              tr
                td
                  a(href=event.url)
                    strong(class="event-name")= event.name
              tr
                td= event.venue_id
              tr
                td
                  | # of RSVPs
