extends layout
 
block content
  h1 Events
  div.container
    div.row
      div.col-md-4
        form.form-horizontal(action="/events/search", method="post")
          div.form-group
            label Keyword
            input.form-control(type="text",  name="keyword", placeholder="software, music, ...", value="hackathon")
          div.form-group
            label Location
            input.form-control(type="text",  name="location", placeholder="san francisco, ...", value="san francisco")
          div.form-group
            label Search radius
            input.form-control(type="text",  name="radius", placeholder="10mi, ...", value="10mi")
          div.form-group
            button.btn.btn-large.btn-success(type="submit") Find Events
      div.col-md-8
        a(href="/events?page=" + (currentPage - 1) class=(currentPage === 1 ? 'disabled' : '')) previous 
        a(href="/events?page=" + (currentPage + 1)) next
        table
          each event in events
            tbody.event-row
              tr
                td= event.start_time
                td= event.organizer_name
              tr
                td= event.end_time
                td
                  a(href=event.url)
                    strong.event-name= event.name
              tr
                td
                td= event.venue_name
              tr
                td(style="text-align: center;")
                  button(data-event=event class="btn btn-primary add-event-btn" type="button")
                    span(class="glyphicon glyphicon-plus" aria-hidden="true")
                td
                  | # of RSVPs
